.ds-button {
  background-color: #2E3037;
  border-radius: 10px;
  color: white;
  padding: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  max-width: 343px;
}

.info-box {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 6px;
  min-width: 132px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.64);
  font-family: Roboto;

  &--large {
    min-width: 299px;
  }
}

.info-card {
  margin-top: 16px;
  width: 343px;
  background-color: #FCFCFC;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 1px 5px 5px 1px darkgray;
}

.container {
  padding-top: 46px;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border: 3px solid white;
  border-radius: 75px;
  margin-top: 80px;
  background-size: cover;
}

.title {
  font-size: 16px;
  color: white;
  font-family: Roboto;
}

.text {
  font-size: 16px;
  color: white;
  opacity: 0.64;
  font-family: Roboto;
}

.text2 {
  font-size: 16px;
  color: #264653;
  font-family: Roboto;
  text-align: center;
}

.text3 {
  font-size: 12px;
  color: black;
  opacity: 0.64;
  font-family: Roboto;
  tab-size: 6px;
}

.nameTitle {
  font-size: 24px;
  color: black;
  font-family: Roboto;
}
