<div clCard fxLayout="column" fxLayoutGap="16px">
  <div clCardTitle fxLayout="row" fxLayoutAlign="stretch center" fxLayoutGap="16px">
    <h2 *ngIf="!searchOpen">Produtos</h2>
    <cl-search
      (cbSearch)="getChanges($event)"
      (isOpen)="searchOpen = $event"
      [autoFocus]="false"
      fxFlex="100"
      placeholder="Digite para pesquisar"
    ></cl-search>
  </div>
  <div fxLayout="column" fxLayoutAlign="start">
    <cl-list-item (click)="setProduct(product)"
                  *ngFor="let product of showList; let i = index"
                  [action]="true"
                  [divider]="'middle'"
                  [routerLink]="getProductUrl()">
      <div fxFlex="60" left>
        <h3>{{ product.name }}</h3>
      </div>
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="end" fxLayoutGap="8px" right>
        <p>Rentabilidade</p>
        <p>+ {{ product.yield }}</p>
      </div>
      <div fxFlex="10" right>
        <i clIconSmall name="cl-chevron-right"></i>
      </div>
    </cl-list-item>
    <div class="load-more" fxLayout="row" fxLayoutAlign="center">
      <button (click)="loadMore()"
              *ngIf="productsShowing < filteredList.length"
              clButton>
        <span>Carregar mais</span>
      </button>
    </div>
    <h3 *ngIf="productsShowing >= filteredList.length" class="product-list-info">
      {{ filteredList.length }} produtos encontrados
    </h3>
  </div>
</div>
