@import '~collact-design-system/styles/colors';

.modules{
  overflow: hidden;
  overflow-x: auto;
  //margin: 0  0  16 -16px;
}

.text {
  margin-top: 24px;
  margin-left: 16px;
  font-family: ProximaNovaSemiBold, sans-serif;
  color: $black-alpha-700;
  font-size: 20px;
}