<navbar [barTitle]="product.id" [disableNavigation]="true">

  <investment-wallet-credit-available></investment-wallet-credit-available>

  <div class="left">
    <button (click)="goBack()" clButtonIcon>
      <i clIcon color="#fff" name="cl-arrow-left"></i>
    </button>
  </div>

  <div class="products-page" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px" fxLayoutGap.lt-md="16px">
    <investment-wallet-product-variable-income *ngIf="product.module === 'VARIABLE_INCOME'"
                                               [product]="product"></investment-wallet-product-variable-income>
    <investment-wallet-product-fixed-income *ngIf="product.module === 'FIXED_INCOME'"
                                            [product]="product"></investment-wallet-product-fixed-income>
    <investment-wallet-buy-and-sell></investment-wallet-buy-and-sell>

  </div>


</navbar>
