@import '~collact-design-system/styles/colors';

p {
  font-family: ProximaNova, sans-serif;
  font-size: 20px;
  color: $black-alpha-700;
}

.question {
  &__number {
    font-family: ProximaNovaSemiBold, sans-serif;
  }

  &__explanation {
    font-size: 16px;
  }
}

.answer-title{
  font-size: 10px;
}

.answer {
  font-family: ProximaNovaSemiBold, sans-serif;

  &__right {
    font-family: ProximaNovaSemiBold, sans-serif;
    color: #00843D;
  }

  &__wrong {
    font-family: ProximaNovaSemiBold, sans-serif;
    color: #892929;
  }
}

.divider {
  width: 100%;
  border-top: 1px solid $black-alpha-500;
  margin-top: 8px;
}



