<div clCard>
  <div clCardContent fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{ product.id }}</h2>
      <p *ngIf="product.seller">{{ product.seller }}</p>
    </div>
    <div fxLayout="column" fxLayoutGap="8px">
      <p class="black-alpha-500">Rendimento</p>
      <h3>{{ product.yield }}</h3>
    </div>
    <div fxLayout="column" fxLayoutGap="8px">
      <p class="black-alpha-500">Vencimento</p>
      <h3>{{ product.returnDate }}</h3>
    </div>
    <div fxLayout="column" fxLayoutGap="8px">
      <p class="black-alpha-500">Investimento mínimo</p>
      <h3>R${{ product.minimumInvestment / 100 | numeral: 'currency' }}</h3>
    </div>
  </div>
</div>
