<div fxLayout="column" fxLayoutAlign="center center" padding="12px">
  <div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="50px">

    <div class="profilePicContainer" fxLayout="column" fxLayoutAlign="center center" padding="2px">
      <label for="updatePicInput">
        <!--Para usar o componente profile pic, basta passar o uid do usuário como um parâmetro que ele irá carregar a foto -->
        <profile-pic *ngIf="!uploading && !deleting"></profile-pic>
      </label>
      <input type="file" hidden (change)="updatePic($event)" id="updatePicInput">

      <mat-progress-spinner mode="determinate" [value]="uploadProgress" *ngIf="uploading"></mat-progress-spinner>
      <p *ngIf="uploading">{{ uploadProgress }} %</p>

      <label for="updatePicInput" >Alterar foto</label>
      <p (click)="deletePic()">Excluir foto</p>
    </div>

    <form [formGroup]="formGroup">
      <div>
        <p class="nomeCampo__margin-left">Nome</p>
        <input class="info-box" label="Nome" formControlName="firstName" type="firstName">
      </div>
      <div>
        <p class="nomeCampo__margin-left">Sobrenome</p>
        <input class="info-box" label="Sobrenome" formControlName="lastName" type="lastName">
      </div>
      <div>
        <p class="nomeCampo__margin-left">Gênero</p>
        <input class="info-box" label="Genero" formControlName="gender" type="gender">
      </div>
      <div>
        <p class="nomeCampo__margin-left">E-mail</p>
        <input class="info-box" label="E-mail" formControlName="email" type="email">
      </div>
    </form>

    <button class="ds-button" (click)="edit()" [disabled]="formGroup.invalid">Salvar</button>

  </div>

</div>
