.ds-button {
  background-color: #2E3037;
  border-radius: 10px;
  color: white;
  padding: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  max-width: 343px;
}

.info-box {
  background-color: #E5E5E5;
  border-radius: 10px;
  padding: 6px;
  min-width: 299px;
  font-size: 16px;
  color: black;
  opacity: 0.64;
  font-family: Roboto;
}

.label {
  margin: 0 0 0 12px;
  font-size: 12px;
  color: rgba(0,0,0,.64);
}

.value {
  font-size: 16px;
  color: rgba(0,0,0,.64);
}
