<div fxLayout="column" fxLayoutAlign="center center" padding="12px">
  <div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">

    <div class="profilePicContainer" fxLayout="column" fxLayoutAlign="center center" padding="2px">
      <label for="updatePicInput">
        <!--Para usar o componente profile pic, basta passar o uid do usuário como um parâmetro que ele irá carregar a foto -->
        <profile-pic *ngIf="!uploading && !deleting"></profile-pic>
      </label>
      <input type="file" hidden (change)="updatePic($event)" id="updatePicInput">

      <mat-progress-spinner mode="determinate" [value]="uploadProgress" *ngIf="uploading"></mat-progress-spinner>
      <p *ngIf="uploading">{{ uploadProgress }} %</p>

      <label for="updatePicInput" >Alterar foto</label>
      <p (click)="deletePic()">Excluir foto</p>
    </div>
    <div class="Forms">
      <cl-form-component
        (changes)="changes($event)"
        (isValid)="isValid($event)"
        (submit)="edit()"
        [formConfig]="userProfileForm"
      ></cl-form-component>
    </div>
    <button (click)="edit()" [hasDisabled]="!formValid" [loading]="loading" clButtonContained
                  class="bg-sabia-blue-500">
    <span>Salvar</span>
  </button>
  </div>

</div>
