@import "~collact-design-system/styles/colors";

.module-content {
  &__title {
    color: $black-alpha-700;
    font-size: 20px;
    font-family: ProximaNovaSemiBold, sans-serif;
  }

  &__subtitle {
    color: $black-alpha-500;
    font-size: 20px;
    font-family: ProximaNovaSemiBold, sans-serif;
  }

  &__background {
    width: 100vw;
    padding: 16px;
    background-color: #F7F7F7;
  }

  &__description {
    font-family: ProximaNova, sans-serif;
    color: $black-alpha-500;
    font-size: 16px;
  }

  &__scroll {
    overflow: hidden;
    overflow-x: auto;
  }
}
