<div class="module-content__background" fxLayout="column" fxLayoutGap="16px">

  <h2 class="module-content__header2">Renda Fixa</h2>
  <!--  TODO: puxar de moduleProgress.moduleName-->

  <h3 class="module-content__header3">{{moduleContent.topicName}}</h3>

  <p class="module-content__description">{{ moduleContent.topicDescription }}</p>

  <h2 class="module-content__header2">Anexos</h2>


  <!--  <div *ngFor="let moduleProgress of modulesList">-->
  <!--    <courses-module-box [moduleProgress]="moduleProgress"></courses-module-box>-->
  <!--  </div>-->
  <!--  TODO: fazer loop de attachments-->

  <a clButtonContainedSecondary>
    <span>Marcar como concluído</span>
  </a>
  <!--  TODO: topicComplete = TRUE when button clicked-->

</div>