<div class="questionary-body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <h1>{{ question.questionText }}</h1>
  <div *ngFor="let alternative of question.alternatives" class="alternatives">
    <button clButtonOutline class="alternatives__button" (click)="selectAlternative(alternative)">
      <span>{{ alternative.alternativeText }}</span>
    </button>
  </div>
  <button clButtonContainedSecondary *ngIf="showBottomSheet" (click)="goToNextQuestion()">
    <span>Next</span>
  </button>
</div>



