<div fxLayout="column" fxLayoutAlign="space-between center" class="questionary-done">
  <h1>Parabéns!</h1>
  <div clBadge diameter="88" bgColor="#39C0BA" class="star">
    <i clIcon name="cl-star-filled" color="#fff"></i>
  </div>
  <p>Você aprendeu sobre ---</p>

  <h2>Você acertou {{ score }} / {{ nQuestions }} questões</h2>
  <p>Quando quiser você pode voltar e fazer uma revisão</p>
  <p>Agora você pode colocar seus conhecimentos em prática!</p>
  <button clButtonContainedSecondary (click)="closeQuestionary()">
    <span>Concluir</span>
  </button>
</div>


