<div clCard class="investment-topic__box">

  <div clCardContent fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">

    <div class="investment-topic__ex-icon" fxLayout="column" fxLayoutAlign="center stretch"
         fxLayoutGap="16px">

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <h3>{{investmentModule.label}}</h3>
        <h4>{{investmentModule.percentage | numeral: 'percentage'}}</h4>
      </div>

      <div class="divider"></div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p>Posição:</p>
        <p class="black-alpha-500"> R$ {{investmentModule.invested | numeral: 'currency'}}</p>
      </div>

    </div>

    <i clIcon class="bg-black-alpha-500-force" name="cl-chevron-right"></i>

  </div>

</div>
