@import "~collact-design-system/styles/colors";

.investment-topic {

  &__box {
    border-top-color: var(--border-top-color);
    border-style: solid;
    border-width: 12px 0 0 0;
    width: 100%;
  }

  &__ex-icon {
    width: 100%;
  }

}

h3 {
  font-size: 16px;
  font-family: ProximaNovaSemiBold, sans-serif;
  color: $black-alpha-700;
}

h4 {
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
  color: $black-alpha-500;
}

p {
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
  color: $black-alpha-500;
}

.variacao {
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
  color: green;
}
