<div class="questionary-question-page"  fxLayoutAlign="center center" *ngIf="loadingQuestionary && !done">
  <mat-spinner diameter="40"></mat-spinner>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="16px"
  class="questionary-question-page"
  *ngIf="!loadingQuestionary && !done">
  <questionary-header [questionNumber]="currentQuestionNumber"></questionary-header>
  <questionary-body [question]="currentQuestion" (answerEvent)="nextQuestion($event)"></questionary-body>
</div>
<div class="questionary-question-page" *ngIf="done" fxLayout="column" fxLayoutAlign="start stretch">
  <questionary-done [nQuestions]="questions.length" [score]="score"></questionary-done>
</div>


