<div class="buy-sell">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
    <h3>Negociar</h3>
    <div>
      <cl-form-component
        [formConfig]="formConfig"
        (changes)="changes($event)">
      </cl-form-component>
    </div>
    <div fxLayout="row" fxLayoutGap="8px">
      <h3>Valor resultante: </h3>
      <h3>R$ {{ result | numeral: 'currency' }}</h3>
    </div>
    <div class="buy-sell__buttons" fxLayout="row" fxLayoutGap="8px">
      <div clButtonContainedSecondary class="buy-sell__redeem" (click)="sell()">
        <span>Resgatar</span>
      </div>
      <div clButtonContained class="buy-sell__invest" (click)="buy()">
        <span>Investir</span>
      </div>
    </div>
  </div>
</div>
