<div class="buy-sell">
  <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="16px">

    <div fxLayout="row" fxLayoutGap="8px">
      <h3>Número de lotes: </h3>
      <input class="buy-sell__lotes">
    </div>

    <div fxLayout="row" fxLayoutGap="8px">
      <h3>Valor resultante: </h3>
      <h3>R$ 1.147,00</h3>
    </div>

    <div class="buy-sell__buttons" fxLayout="row" fxLayoutGap="8px">

      <button clButtonContainedSecondary class="buy-sell__redeem">
        <span class="white-alpha-1000-force">Resgatar</span>
      </button>

      <button clButtonContained class="buy-sell__invest">
        <span class="white-alpha-1000-force">Investir</span>
      </button>

    </div>
  </div>
</div>
