p {
  font-family: ProximaNova, sans-serif;
  font-size: 16px;
}

.module-box {
  border-radius: 12px;
  background-color: white;
  margin-left: 16px;
  padding: 16px;
}

.module-title {
  font-family: ProximaNovaBold, sans-serif;
}

.module-button {
  font-family: ProximaNovaSemiBold, sans-serif;
  width: 160px;
  background-color: white;
  font-size: 14px;
  color: #2cb2ab;
}