@import "~collact-design-system/styles/colors";

h2 {
  font-size: 20px;
  font-family: ProximaNovaSemiBold, sans-serif;
}

p {
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
  color: $black-alpha-500;
}
