<div clCard fxLayout="column" fxLayoutGap="16px">
  <div clCardTitle fxLayout="row" fxLayoutAlign="stretch center" fxLayoutGap="16px">
    <h2 *ngIf="!searchOpen">Produtos</h2>
    <cl-search
      (cbSearch)="getChanges($event)"
      (isOpen)="searchOpen = $event"
      [autoFocus]="false"
      fxFlex="100"
      placeholder="Digite para pesquisar"
    ></cl-search>
  </div>
  <ng-container *ngFor="let title of filteredList; let i = index">
    <cl-list-item [divider]="i !== filteredList.length - 1 ? 'middle' : null" [action]="true"
                  [routerLink]="getTitleUrl(title)">
      <div fxFlex="60" left>
        <h3>{{ title.tipoTitulo }}</h3>
        <h3>{{ title.vencimento.substr(0, 4) }}</h3>
      </div>
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="end" fxLayoutGap="8px" right>
        <p>Rentabilidade</p>
        <p>+ {{ title.txVendaManha }} %</p>
      </div>
      <div fxFlex="10" right>
        <i clIconSmall name="cl-chevron-right"></i>
      </div>
    </cl-list-item>
  </ng-container>
</div>
