@import "~collact-design-system/styles/colors";

p{
  font-family:  ProximaNova, sans-serif;
  font-size: 16px;
}

.userName{
  color: $black-alpha-700;
}

.userScore{
  color: $black-alpha-500;
}

.itsMeDiv{
  background-color: rgba(0,0,0,0.1);
}

.position {
  border-radius: 100%;
  height: 24px;
  width: 24px;
  text-align: center;
  &__gold{
    background-color: #F6D177;
  }
  &__silver{
    background-color: #D6D6D6;
  }
  &__bronze{
    background-color: #C08147;
  }


}
