@import "~collact-design-system/styles/colors";

p {
  font-family: ProximaNova, sans-serif;
  font-size: 16px;
}

.user-box {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-name {
  color: $black-alpha-700;
}

.user-score {
  color: $black-alpha-500;
}

.its-me-div {
  background-color: $black-alpha-200;
}

.position {
  border-radius: 100%;
  height: 24px;
  width: 24px;
  text-align: center;

  &__gold {
    background-color: #F6D177;
  }

  &__silver {
    background-color: #D6D6D6;
  }

  &__bronze {
    background-color: #C08147;
  }


}
