<div class="user-box" [ngClass]="itsMe ? 'its-me-div' : ''" fxLayout="row" fxLayoutGap="16px"
     fxLayoutAlign="start center">
  <div [ngClass]="profileClass" fxLayout="column" fxLayoutAlign="center center">
    <p>{{ index }}</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <profile-pic [uid]="user.userId" [width]="48" [borderRadius]="4"></profile-pic>
  </div>
  <div fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center start">
    <p class="user-name">{{ user.userName }}</p>
    <p class="user-score">{{ user.userScore }} pontos</p>
  </div>
</div>
