@import "/src/assets/styles/module.style";

.trackline {
  background-color: #2E3037;
  height: 20px;
  width: 2px;
  margin-left: 19px;
}
.trackline-hidden {
  background-color: rgba(0,0,0,0);
  height: 20px;
  width: 2px;
  margin-left: 19px;
}

.button-container{
  cursor: pointer;
}

.badge-container{
}
