<div class="module__bodyheader" fxLayout="row" fxLayoutAlign="space-between start">
  <div class="module__name">
    <h2>{{ moduleProgress.moduleName }}</h2>
    <h3 *ngIf="moduleProgress.schoolName">{{ moduleProgress.schoolName }}</h3>
  </div>
  <div class="module__progress">
    <h3>{{ moduleProgress.moduleProgressPercentage }}% concluído</h3>
  </div>
</div>

<div class="module__path" fxLayout="column" fxLayoutAlign="space-around start">
  <div *ngFor="let lesson of lessons; let i = index">
    <div *ngIf="i != 0" class="trackline"></div>
    <label>
      <div class="button_container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div clBadgeOutline [diameter]="40" bgColor="#2E3037" *ngIf="lesson.complete">
          <i clIcon name="cl-correct-focus"></i>
        </div>
        <div clBadgeOutline [diameter]="40" bgColor="#F0F0F0" borderColor="#2E3037" *ngIf="!lesson.complete">
          <i clIcon name="cl-menu-food"></i>
        </div>
        <p>{{ lesson.lessonName }}</p>
      </div>
    </label>
    <button [id]="lesson.lessonName" hidden (click)="startLesson(lesson)"></button>
  </div>
</div>
