@import "~collact-design-system/styles/colors";

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  z-index: 2;
}

.investment-topic {
  &__header {
    color: $black-alpha-700;
    font-size: 20px;
    font-family: ProximaNova, sans-serif;
  }

  &__background {
    padding: 16px;
    background-color: #F7F7F7;
  }
}

.investment-modules {
  width: 512px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

h3 {
  font-size: 16px;
  font-family: ProximaNovaSemiBold, sans-serif;
  color: $black-alpha-700;
}
