<div class="buy-sell__box">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
    <h3>Negociar</h3>
    <div>
      <cl-form-component
        [formConfig]="formConfig"
        (changes)="changes($event)">
      </cl-form-component>
    </div>
    <div fxLayout="row" fxLayoutGap="8px">
      <h3>Valor resultante: </h3>
      <h3>R$ {{ result | numeral: 'currency' }}</h3>
    </div>
    <div class="buy-sell__buttons" fxLayout="row" fxLayoutGap="8px">
      <a clButtonContainedSecondary class="buy-sell__resgatar" (click)="sell()">
        <span class="buy-sell__texto-branco">Resgatar</span>
      </a>
      <button clButtonContained class="buy-sell__investir" (click)="buy()">
        <span class="buy-sell__texto-branco">Investir</span>
      </button>
    </div>
  </div>
</div>
