<div class="buy-sell__box">
  <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="16px">

    <div fxLayout="row" fxLayoutGap="8px">
      <h3>Número de lotes: </h3>
      <input class="buy-sell__lotes">
    </div>

    <div fxLayout="row" fxLayoutGap="8px">
      <h3>Valor resultante: </h3>
      <h3>R$ 1.147,00</h3>
    </div>

    <div class="buy-sell__buttons" fxLayout="row" fxLayoutGap="8px">

      <a clButtonContainedSecondary class="buy-sell__resgatar">
        <span class="buy-sell__texto-branco">Resgatar</span>
      </a>

      <button clButtonContained class="buy-sell__investir">
        <span class="buy-sell__texto-branco">Investir</span>
      </button>

    </div>
  </div>
</div>
