@import "~collact-design-system/styles/colors";


h1 {
  font-size: 20px;
  font-family: ProximaNovaBold, sans-serif;
  color: $black-alpha-700;
}

h2 {
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
  color: $black-alpha-500;
}

p {
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
  color: $black-alpha-500;
}