<div clCard fxLayout="column" fxLayoutGap="16px">
  <div clCardTitle fxLayout="row" fxLayoutAlign="stretch center" fxLayoutGap="16px">
    <h2 *ngIf="!searchOpen">Produtos</h2>
    <cl-search
      (cbSearch)="getChanges($event)"
      (isOpen)="searchOpen = $event"
      [autoFocus]="false"
      fxFlex="100"
      placeholder="Digite para pesquisar"
    ></cl-search>
  </div>
  <cl-list-item *ngFor="let stock of filteredList" [action]="true" [routerLink]="getStockUrl(stock)">
    <div fxFlex="60" left>
      <p>{{ stock.ticker }}</p>
    </div>
    <div *ngIf="stock.varDay" fxFlex="40" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px" right>
      <p
        [ngClass]="stock.varDay < 0 ? 'red-700' : 'green-700'">{{ stock.varDay | numeral: 'percentage' }}
      </p>
      <i clIconSmall name="cl-chevron-right"></i>
    </div>
  </cl-list-item>
</div>
