<div class="courses-details__background" fxLayout="column" fxLayoutGap="16px">

  <h2 class="courses-details__header">General Business Program (GPB)</h2>
  <p class="courses-details__description">Trabalhando temas como Soft Skills, Finanças Corporativas & Valuation,
    Estratégia Empresarial, Marketing, Business Modeling e Problem Solving, os alunos do GBP ficam mais preparados para
    alavancar seus resultados nas carreiras mais buscadas, entendendo o negócio de forma generalista e analítica e
    fortalecendo o processo de tomada de decisão.</p>
  <h2 class="courses-details__header">Módulos</h2>
  <courses-module-box></courses-module-box>

  <a clButtonContainedSecondary>
    <span>Visitar</span>
    <i clIcon name="cl-external-links"></i>
  </a>

  <!--    <div *ngFor="let course of coursesList">-->
  <!--      <courses-box [course]="course"></courses-box>-->
  <!--    </div>-->
</div>

