<div clCard>
  <div clCardContent fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{ variableIncomeData.ticker }}</h2>
    </div>
    <h3>Variação</h3>
    <div clCardOutline>
      <div clCardContentList>
        <cl-list-item divider="middle">
          <div fxFlex="50" left>
            <p>Ontem</p>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="end" right>
            <p
              [ngClass]="variableIncomeData.varDay < 0 ? 'red-700' : 'green-700'">{{ variableIncomeData.varDay | numeral: 'percentage' }}</p>
          </div>
        </cl-list-item>
        <cl-list-item divider="middle">
          <div fxFlex="50" left>
            <p>Último mês</p>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="end" right>
            <p
              [ngClass]="variableIncomeData.varMonth < 0 ? 'red-700' : 'green-700'">{{ variableIncomeData.varMonth | numeral: 'percentage' }}</p>
          </div>
        </cl-list-item>
        <cl-list-item>
          <div fxFlex="50" left>
            <p>Último ano</p>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="end" right>
            <p
              [ngClass]="variableIncomeData.varYear < 0 ? 'red-700' : 'green-700'">{{ variableIncomeData.varYear | numeral: 'percentage' }}</p>
          </div>
        </cl-list-item>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="8px">
      <p class="black-alpha-500">Valor da ação hoje</p>
      <h3>R${{ variableIncomeData.currentPrice | numeral: 'currency' }}</h3>
    </div>
  </div>
</div>
