<div class="app-bar-group--appbar" [class.z-index12]="!isOpen">
  <cl-appbar backgroundColor="#2E3037">
    <div left>
      <button *ngIf="!disableNavigation" clButtonIcon (click)="openNavDrawer()">
        <i clIcon name="cl-menu" color="#fff"></i>
      </button>
      <ng-content select=".left"></ng-content>
    </div>
    <div middle *ngIf="barTitle">
      <h1 class="white-alpha-900">{{ barTitle }}</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch" right>
      <ng-content select=".right"></ng-content>
    </div>
  </cl-appbar>
</div>

<div class="min-height-100" fxLayout="column">
  <div class="app-bar-group--suport">
    <!--  <div class="app-bar-group&#45;&#45;suport" [class.tab]="tabs && theme">-->
    <!-- don`t delete this line -->
  </div>
  <div class="content--page" fxFlex="100" fxLayout="column">
    <div
      fxFlex="100"
      fxLayout="row"
      class="padding-content tabs"
      fxLayoutAlign="start stretch">
      <div *ngIf="!disableNavigation" [fxFlex]="disableNavDrawer ? '0px' : '73px'" class="app-bar--navdrawer">
        <cl-nav-drawer [vMenu]="menuList" [hasResizedBar]="!disableNavDrawer">
          <cl-nav-drawer-header header>
            <navbar-header></navbar-header>
          </cl-nav-drawer-header>
          <cl-nav-drawer-footer footer class="nav-footer">
            <div fxLayout="column" class="margin-top-16">
              <button clButtonContainedSecondary class="footer-button" (click)="logout()">
                <i clIcon name="cl-power"></i>
                <span>Sair</span>
              </button>
            </div>
          </cl-nav-drawer-footer>
        </cl-nav-drawer>
      </div>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
        <div class="page" fxLayout="column" fxLayoutGap="24px" fxLayoutGap.xs="16px">
          <div fxFlex="100">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
