<div fxLayout="column" fxLayoutAlign="center center" padding="12px">
  <!--  <div class="toolbar">-->
  <!--    <button color="white">-->
  <!--      <p>&larr</p>-->
  <!--    </button>-->
  <!--    <span>Perfil</span>-->
  <!--  </div>-->

  <div class="container" fxLayout="column" fxLayoutAlign="start center">
    <div dsCard class="info-card" fxLayout="column" fxLayoutGap="16px">
      <div>
        <div class="text3">Nova senha</div>
        <input class="info-box" label="Nome" [formControl]="newPassword" type="password">
      </div>
      <button class="ds-button" (click)="changePassword()" [disabled]="newPassword.invalid">Salvar</button>
    </div>
  </div>
</div>