<div fxLayout="column" fxLayoutAlign="center center" padding="12px">
  <div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="366px">
    <form [formGroup]="formGroup">
      <div>
        <div class="text3">Senha atual</div>
        <input class="info-box" label="oldPassword" formControlName="oldPassword" type="password">
      </div>
      <div>
        <div class="text3">Nova senha</div>
        <input class="info-box" label="newPassword" formControlName="newPassword" type="password">
      </div>
      <div>
        <div class="text3">Confirme a nova senha</div>
        <input class="info-box" label="repeatNewPassword" formControlName="repeatNewPassword" type="password">
      </div>
    </form>
    <button class="ds-button" (click)="changePassword()"
            [disabled]="formGroup.invalid || !passwordIsEqual || newEqualsOld">Salvar
    </button>
  </div>
</div>