<div fxLayout="column" fxLayoutAlign="center center" padding="12px">
  <div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="366px">
    <form [formGroup]="formGroup">
      <div>
        <p class="nomeCampo__margin-left">Senha atual</p>
        <input class="info-box" label="oldPassword" formControlName="oldPassword" type="password">
      </div>
      <div>
        <p class="nomeCampo__margin-left">Nova senha</p>
        <input class="info-box" label="newPassword" formControlName="newPassword" type="password">
      </div>
      <div>
        <p class="nomeCampo__margin-left">Confirme a nova senha</p>
        <input class="info-box" label="repeatNewPassword" formControlName="repeatNewPassword" type="password">
      </div>
    </form>
    <button class="ds-button" (click)="changePassword()"
            [disabled]="formGroup.invalid || !passwordIsEqual || newEqualsOld">Salvar
    </button>
  </div>
</div>