<div clCard>
  <div clCardContent fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="column" fxLayoutAlign="start start">
      <h2>Meus Investimentos</h2>
    </div>
<!--    <h3>Variação</h3>-->
    <div clCardOutline>
      <div clCardContentList>
        <ng-container *ngFor="let product of products; let i = index">
          <cl-list-item [divider]="i !== products.length - 1 ? 'middle' : null">
            <div fxFlex="50" left>
              <p>{{product.id}}</p>
            </div>
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="end" right>
              <p>R$ {{product.position | numeral: 'currency'}}</p>
  <!--            <p-->
  <!--              [ngClass]="variableIncomeData.varDay < 0 ? 'red-700' : 'green-700'">{{ variableIncomeData.varDay | numeral: 'percentage' }}</p>-->
            </div>
          </cl-list-item>
        </ng-container>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="8px">
      <p class="black-alpha-500">Posição total</p>
      <h3>R$ {{ total | numeral: 'currency' }}</h3>
    </div>
  </div>
</div>
