@import "~collact-design-system/styles/colors";

.module {
}

h1 {
  font-size: 24px;
  font-family: ProximaNova, sans-serif;
}

h2 {
  font-size: 20px;
  font-family: ProximaNovaSemiBold, sans-serif;
}

h3{
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
  color: $black-alpha-500;
}

p {
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
}

.module__bodyheader{
  margin: 16px;
}

.module__path{
  margin: 32px;
}




