h1 {
  font-size: 24px;
  font-family: ProximaNova, sans-serif;
}

h2 {
  font-size: 20px;
  font-family: ProximaNova, sans-serif;
}

p {
  font-size: 16px;
  font-family: ProximaNova, sans-serif;
}


.questionary-header {

  mat-progress-bar {
    height: 5px;
    border-radius: 2px;
  }
}

.questionary-body {
  padding: 8px;
}

.alternatives {
  width: 100%;

  &__button {
    width: 100%;
  }
}

.questionary-question-page {
  height: 100vh;
  padding: 16px;
  background-color: #F7F7F7;
}

.questionary-done {
  height: calc((100vh) - (32px));

  p {
    width: 70%;
    text-align: center;
  }
}


